.item{
    max-width: 142px;
    min-width: 142px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
    margin-right: 12px
}

mat-list-item {
    padding: 12px
}

button {
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    float: right;
}
h1 {
    display: inline;
    margin-left: 12px
}

mat-list {
    margin-top: 12px;
}