<h1>Спортсмены</h1>

<button
    routerLink="new"
    mat-raised-button color="primary"
    >Добавить
</button>
<mat-list>
  <mat-list-item>
      <div class="inline-block item">Имя</div>
      <div class="inline-block item">Фамилия</div>
      <div class="inline-block item">Пол</div>
      <div class="inline-block item">День рождения</div>
      <div class="inline-block item">Страна</div>
      <div class="inline-block item">Регион</div>
      <div class="inline-block item">Город</div>
  </mat-list-item>
</mat-list>
<mat-nav-list>
  <a mat-list-item routerLink="{{athlete.guid}}" *ngFor="let athlete of (athletes$ | async)" style="overflow: hidden">
    <app-athlete-list-item [athlete]="athlete"></app-athlete-list-item>
  </a>
</mat-nav-list>
