<form #raceForm="ngForm" (ngSubmit)="raceForm.valid && save(raceForm)">

    <mat-form-field>
      <input matInput
            [(ngModel)]="race.name"
            type="text"
            name="name"
            [placeholder]="'Название'"
            required
            maxlength="250"
            #nameInput="ngModel"
      >
        <mat-hint align="end">{{nameInput?.value?.length || 0}} / 250</mat-hint>
        <mat-error *ngIf="nameInput.touched && nameInput.errors?.required">
            {{'Обязательное поле'}}
        </mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea matInput
            [(ngModel)]="race.description"
            type="text"
            name="description"
            [placeholder]="'Описание'"
            maxlength="1000"
            #descInput="ngModel">
      </textarea>
        <mat-hint align="end">{{descInput?.value?.length || 0}} / 1000</mat-hint>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput
            [(ngModel)]="race.race_type"
            type="text"
            name="race_type"
            [placeholder]="'Тип гонки'"
            required
            maxlength="100"
            #raceTypeInput="ngModel"
      >
      <mat-hint align="end">{{raceTypeInput?.value?.length || 0}} / 100</mat-hint>
      <mat-error *ngIf="raceTypeInput.touched && raceTypeInput.errors?.required">
          {{'Обязательное поле'}}
      </mat-error>
    </mat-form-field>  
    <mat-form-field>
        <input matInput
              [(ngModel)]="startDate"
              name="start_date_time"
              placeholder="Дата проведения"
              required
              #startInput="ngModel"
        >
        <mat-error *ngIf="startInput.touched && startInput?.errors?.format">{{'Формат: ДД.ММ.ГГГ чч:мм'}}</mat-error>
        <mat-error *ngIf="startInput.touched && startInput.errors?.required">{{'Обязательное поле'}}</mat-error>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput
            [(ngModel)]="race.region"
            type="text"
            name="region"
            [placeholder]="'Регион'"
            maxlength="100"
            #regionInput="ngModel"
      >
      <mat-hint align="end">{{regionInput?.value?.length || 0}} / 100</mat-hint>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput
            [(ngModel)]="race.city"
            type="text"
            name="city"
            [placeholder]="'Населенный пункт'"
            maxlength="100"
            #cityInput="ngModel"
      >
      <mat-hint align="end">{{cityInput?.value?.length || 0}} / 100</mat-hint>
    </mat-form-field>
    <div class="actions">
      <button *ngIf="raceId"
        mat-raised-button
        type="button"
        (click)="cancelEdit()"
        >Отмена
      </button>
      <button
        mat-raised-button color="primary"
        type="submit"
        [disabled]="!raceForm.valid"
        >Сохранить
      </button>
    </div>
</form>
  