<mat-tab-group>
    <mat-tab label="Общие сведения">
        <div class="content">
            <app-race-edit *ngIf="editMode" [raceId]="race.guid" (editMode)="disableEdit($event)"></app-race-edit>
            <div *ngIf="!editMode">
                <div class="item"><mat-icon>sms</mat-icon> {{race.name}}</div>
                <div class="item"><mat-icon>comment</mat-icon> {{race.description}}</div>
                <div class="item"><mat-icon>landscape</mat-icon> {{race.race_type}}</div>
                <div class="item"><mat-icon>date_range</mat-icon> {{race.start_date_time | date:'dd.MM.yyyy HH:mm'}} </div>
                <div class="item"><mat-icon>location_on</mat-icon> {{race.region}} {{race.city}}</div>
            </div>
            <div class="actions">
                <button *ngIf="!editMode" mat-raised-button color="primary" (click)="enableEdit()">Редактировать</button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Участники">
        <div class="content">
            <div class="actions">
                <button mat-raised-button (click)="addGroup()">Добавить категорию</button>
                <button mat-raised-button *ngIf="groups.length !== 0" (click)="add()" class="margin-left-20">Добавить участников</button>
            </div>
            <div *ngFor="let group of groups">
                <h3>{{group.name}}</h3>
                <mat-list>
                    <div *ngFor="let participant of participants">
                        <mat-list-item *ngIf="participant.group == group.guid">
                            <div class="list-item margin-right-12">{{participant.athlete_data.first_name}}</div>
                            <div class="list-item margin-right-12">{{participant.athlete_data.last_name}}</div>
                            <div class="list-item margin-right-12">
                                <span *ngIf="participant.number; else noNumber">{{participant.number}}</span>
                                <ng-template #noNumber><span>Номер не выдан</span></ng-template>                                
                            </div>
                            <div class="list-item margin-right-12">
                                <span *ngIf="participant.tag; else noTag">{{participant.tag}}</span>
                                <ng-template #noTag><span>Тег не выдан</span></ng-template>                                
                            </div>
                            <div class="list-item"><button mat-raised-button (click)="openAssign(participant)">Выдать номер и тэг</button></div>
                        </mat-list-item>
                    </div>
                </mat-list>
            </div>
            
        </div>
    </mat-tab>
    <mat-tab label="Результаты">
        <div class="content">
            <div *ngFor="let group of objectKeys(results)">
                <h3>{{group}}</h3>
                <div *ngIf="results[group].length > 0; else noResults">
                    <mat-list>
                        <mat-list-item>
                            <div class="list-item margin-right-12">Место</div>
                            <div class="list-item margin-right-12">Фамилия</div>
                            <div class="list-item margin-right-12">Имя</div>
                            <div class="list-item margin-right-12">Круги</div>
                            <div class="list-item">Результат</div>
                        </mat-list-item>
                        <mat-list-item *ngFor="let result of results[group]; index as i">
                            <div class="list-item margin-right-12">{{i + 1}}</div>
                            <div class="list-item margin-right-12">{{getFirstName(result.participant)}}</div>
                            <div class="list-item margin-right-12">{{getLastName(result.participant)}}</div>
                            <div class="list-item margin-right-12">{{result.laps_count}}</div>
                            <div class="list-item">{{result.result_time}}</div>
                        </mat-list-item>
                    </mat-list>
                </div>
                <ng-template #noResults><span>Нет результатов</span></ng-template>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>


