.actions {
    margin: 0 auto;
    display: flex;
    justify-content: flex-end
}

.margin-left-20 {
    margin-left: 20px;
}
.margin-right-12 {
    margin-right: 12px;
}

.content {
    max-width: 940px;
    border: 1px solid;
    border-color: #e0e0e0;
    border-radius: 4px;
    padding: 20px 40px;
    margin: 0 auto
}

.item {
    font-size: 18px;
    margin: 5px 5px
}
.list-item{
    max-width: 180px;
    min-width: 180px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
    vertical-align: middle;
    display: flex;
}