<h1>Гонки</h1>

<button
    routerLink="new"
    mat-raised-button color="primary"
    style="display: inline-block;"
    >Добавить
</button>
<mat-list>
  <mat-list-item>
      <div class="inline-block item">Название</div>
      <div class="inline-block item">Тип</div>
      <div class="inline-block item">Время начала</div>
      <div class="inline-block item">Регион</div>
      <div class="inline-block item">Населенный пункт</div>
      <div class="inline-block item"></div>
      <div class="inline-block item"></div>
  </mat-list-item>
</mat-list>
<mat-nav-list>
  <a mat-list-item routerLink="{{race.guid}}" *ngFor="let race of (races$ | async)" style="overflow: hidden">    
    <div class="inline-block item">{{race.name}}</div>
    <div class="inline-block item">{{race.race_type}}</div>
    <div class="inline-block item">{{race.start_date_time | date:'dd.MM.yyyy HH:mm'}}</div>
    <div class="inline-block item">{{race.region}}</div>
    <div class="inline-block item">{{race.city}}</div>
    <div class="inline-block item"></div>
    <div class="inline-block item"></div>
  </a>
</mat-nav-list>
