<form #filterForm="ngForm">
    <mat-form-field class="margin-left-12">
        <input matInput type="text" name="first_name" [placeholder]="'Имя'" maxlength="100" #nameInput="ngModel" 
        [(ngModel)]="filterData.firstName"> 
    </mat-form-field>
    <mat-form-field class="margin-left-12">
        <input matInput type="text" name="last_name" [placeholder]="'Фамилия'" maxlength="100" #lastNameInput="ngModel" 
        [(ngModel)]="filterData.lastName"> 
    </mat-form-field>
    <mat-form-field class="margin-left-12">
        <input matInput type="number" name="min_age" [placeholder]="'Возраст от'" #minAgeInput="ngModel" 
        [(ngModel)]="filterData.minAge"> 
    </mat-form-field>
    <mat-form-field class="margin-left-12">
        <input matInput type="number" name="maxAge" [placeholder]="'Возраст до'" #maxAgeInput="ngModel" 
        [(ngModel)]="filterData.maxAge"> 
    </mat-form-field>
    <mat-form-field class="margin-left-12">
            <mat-select placeholder="Пол" [(ngModel)]="filterData.gender"  name="gender" #genderSelect="ngModel">
            <mat-option *ngFor="let gender of genders" [value]="gender.value">{{gender.viewValue}}</mat-option>
          </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="resetFilter()" class="margin-left-12">Очистить</button>
    <button mat-raised-button type="submit" color="primary" (click)="filter()" class="margin-left-12">Фильтровать</button>
</form>

<mat-card *ngFor="let athlete of athletes" style="margin: 12px">
    <div class="item">{{ athlete.first_name}}</div>
    <div class="item">{{ athlete.last_name}}</div>
    <div *ngIf="athlete.gender === 'f'; else male" class="item">Женщина</div>
    <ng-template #male>
        <div class="item">Мужчина</div>
    </ng-template>
    <div class="item">{{ athlete.birthday | date:'dd.MM.yyyy'}}</div>
    <div *ngIf="athlete.region; else noRegion" class="item">{{ athlete.region }}</div>
    <ng-template #noRegion>
        <div class="item">-</div>
    </ng-template>
    <div *ngIf="athlete.city; else noCity" class="item">{{ athlete.city }}</div>
    <ng-template #noCity>
        <div class="item">-</div>
    </ng-template>
    <div class="item">
        <div *ngIf="athlete.inRace; else notInRace">
            Добавлен
        </div>
        <ng-template #notInRace>
            <button mat-raised-button (click)="add(athlete)" color="primary">Добавить</button>
        </ng-template> 
    </div>
</mat-card>
<div *ngIf="athletes.length === 0" class="text-center">Никого не найдено</div>
