
mat-list {
    margin-top: 12px;
}

.item{
    min-width: 142px;
    max-width: 142px;
    word-break: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: auto;
    margin-right: 0;
    padding: 0 12px;
    display: inline-block;
}
.margin-left-12 {
    margin-left: 12px;
}

.text-center {
    text-align: center
}