<form #athleteForm="ngForm" (ngSubmit)="athleteForm.valid && save()">

  <mat-form-field>
    <input matInput
          [(ngModel)]="athlete.first_name"
          type="text"
          name="first_name"
          [placeholder]="'Имя'"
          required
          maxlength="128"
          #firstNameInput="ngModel"
    >
      <mat-hint align="end">{{firstNameInput?.value?.length || 0}} / 128</mat-hint>
      <mat-error *ngIf="firstNameInput.touched && firstNameInput.errors?.required">
          {{'Обязательное поле'}}
      </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
          [(ngModel)]="athlete.last_name"
          type="text"
          name="last_name"
          [placeholder]="'Фамилия'"
          required
          maxlength="128"
          #lastNameInput="ngModel"
    >
    <mat-hint align="end">{{lastNameInput?.value?.length || 0}} / 128</mat-hint>
    <mat-error *ngIf="lastNameInput.touched && lastNameInput.errors?.required">
        {{'Обязательное поле'}}
    </mat-error>
  </mat-form-field>
  <mat-form-field>
      <mat-select placeholder="Пол" [(ngModel)]="athlete.gender"  name="gender" required #genderSelect="ngModel">
      <mat-option *ngFor="let gender of genders"
                  [value]="gender.value"
      >{{gender.viewValue}}</mat-option>
    </mat-select>
    <mat-error *ngIf="genderSelect.touched && genderSelect.errors?.required">
      {{'Обязательное поле'}}
    </mat-error>
  </mat-form-field>

  <mat-form-field>
      <input matInput
            [(ngModel)]="athlete.birthday"
            [matDatepicker]="picker"
            name="birthday"
            placeholder="День рождения"
            required
            #birthdayInput
      >
      <mat-datepicker-toggle matSuffix
                            [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker
                      startView="multi-year"
                      [startAt]="startDate">
      </mat-datepicker>
      <mat-error *ngIf="birthdayInput.errors?.required">
          {{'Обязательное поле'}}
      </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput
          [(ngModel)]="athlete.country"
          type="text"
          name="country"
          [placeholder]="'Страна'"
          maxlength="100"
          #countryInput="ngModel"
    >
    <mat-hint align="end">{{countryInput?.value?.length || 0}} / 100</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput
          [(ngModel)]="athlete.region"
          type="text"
          name="region"
          [placeholder]="'Регион'"
          maxlength="100"
          #regionInput="ngModel"
    >
    <mat-hint align="end">{{regionInput?.value?.length || 0}} / 100</mat-hint>
  </mat-form-field>

  <mat-form-field>
    <input matInput
          [(ngModel)]="athlete.city"
          type="text"
          name="city"
          [placeholder]="'Населенный пункт'"
          maxlength="100"
          #cityInput="ngModel"
    >
    <mat-hint align="end">{{cityInput?.value?.length || 0}} / 100</mat-hint>
  </mat-form-field>
  <div class="actions">
    <button *ngIf="id"
      mat-raised-button
      type="button"
      (click)="cancelEdit()"
      >Отмена
    </button>
    <button
      mat-raised-button color="primary"
      type="submit"
      [disabled]="!athleteForm.valid"
      >Сохранить
    </button>
  </div>
</form>