<div class="content">
    <app-athlete-edit *ngIf="editMode" (editMode)="disableEit($event)" [id]="(athlete$ | async).guid"></app-athlete-edit>
    <div *ngIf="!editMode">
        <div class="item"><mat-icon>account_circle</mat-icon> {{(athlete$ | async).first_name}} {{(athlete$ | async).last_name}}</div>
        <div class="item"><mat-icon>assignment_ind</mat-icon> {{genders[(athlete$ | async).gender]}}</div>
        <div class="item"><mat-icon>date_range</mat-icon> {{(athlete$ | async).birthday | date:'dd.MM.yyyy'}}</div>
        <div class="item"><mat-icon>location_on</mat-icon> {{(athlete$ | async).city}} {{(athlete$ | async).region}} {{(athlete$ | async).country}} </div>
    </div>
    <div class="actions">
        <button *ngIf="!editMode" mat-button (click)="delete()">Удалить</button>
        <button *ngIf="!editMode" mat-raised-button color="primary" (click)="enableEdit()">Редактировать</button>
    </div>
</div>