<mat-dialog-content>Удалить спортсмена?</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>ОТМЕНИТЬ</button>
    <button mat-button [mat-dialog-close]="true">УДАЛИТЬ</button>
  </mat-dialog-actions>