.actions {
    margin: 0 auto;
    display: flex;
    justify-content: flex-end
}

button {
    margin-left: 20px;
    margin-top: 20px;
}

.content {
    width: 940px;
    border: 1px solid;
    border-color: #e0e0e0;
    border-radius: 4px;
    padding: 20px 40px;
    margin: 0 auto
}

.item {
    font-size: 18px;
    margin: 5px 5px
}