<div class="main-container">
    <mat-toolbar>
        <mat-nav-list>
            <a routerLink="/athlete" style="padding-right: 20px">Спортсмены</a>
            <a routerLink="/race" >Гонки</a>
        </mat-nav-list>
    </mat-toolbar>
    <router-outlet></router-outlet>
</div>

<!-- <a href="https://oauth.vk.com/authorize?client_id=6385484&redirect_uri=http://127.0.0.1:4200/login/vk/token&response_type=code">Вход через VK</a>
<p>token: {{ token }}</p>
<button mat-button (click)="deleteToken()">Удалить токен</button> -->