<h1 mat-dialog-title>Выберите категорию</h1>
<div mat-dialog-content>
  <form #groupSelectForm="ngForm" (ngSubmit)="groupSelectForm.valid && add()">
      <mat-form-field>
              <mat-select placeholder="Категория" [(ngModel)]="group"  name="group" required #groupSelect="ngModel">
              <mat-option *ngFor="let group of groups"
                          [value]="group.guid"
              >{{group.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="groupSelect.touched && groupSelect.errors?.required">
              {{'Обязательное поле'}}
            </mat-error>
      </mat-form-field>
      <div mat-dialog-actions class="actions">
          <button mat-dialog-close
          mat-raised-button
          >Отмена
        </button>
        <button
          mat-raised-button color="primary"
          type="submit"
          [disabled]="!groupSelectForm.valid"
          >Добавить
        </button>
      </div>
  </form>
</div>
