.inline-block {
    display: inline-block;
}
.margin-right-12 {
    margin-right: 12px
}

.item{
    max-width: 142px;
    min-width: 142px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-all;
    word-break: break-word;
    hyphens: auto;
    vertical-align: middle;
    display: flex;
    margin: auto;
    margin-right: 12px
}