<div style="display:flex">
  <div class="inline-block margin-right-12 item">{{ athlete.first_name.substring(0, 24) }}</div>
  <div class="inline-block margin-right-12 item">{{ athlete.last_name.substring(0, 24) }}</div>
  <div *ngIf="athlete.gender === 'f'; else male" class="inline-block margin-right-12 item">Женский</div>
  <ng-template #male>
    <div class="inline-block margin-right-12 item">Мужской</div>
  </ng-template>
  <div class="inline-block margin-right-12 item">{{ dateString }}</div>
  <div *ngIf="athlete.country; else noCountry" class="inline-block margin-right-12 item">{{ athlete.country.substring(0, 24) }}</div>
  <ng-template #noCountry>
    <div class="inline-block margin-right-12 item">-</div>
  </ng-template>
  <div *ngIf="athlete.region; else noRegion" class="inline-block margin-right-12 item">{{ athlete.region.substring(0, 24) }}</div>
  <ng-template #noRegion>
    <div class="inline-block margin-right-12 item">-</div>
  </ng-template>
  <div *ngIf="athlete.city; else noCity" class="inline-block margin-right-12 item">{{ athlete.city.substring(0, 24) }}</div>
  <ng-template #noCity>
    <div class="inline-block margin-right-12 item">-</div>
  </ng-template>
</div>
