<h1 mat-dialog-title>Выдача номера и тега</h1>
<div mat-dialog-content>
    <form #assignForm="ngForm" (ngSubmit)="assignForm.valid && assign(assignForm)">
        <mat-form-field>
            <input matInput
                    [(ngModel)]="participant.number"
                    type="number"
                    name="number"
                    [placeholder]="'Номер'"
                    maxlength="10"
                    #numberField="ngModel"
            >
            <mat-error *ngIf="numberField?.errors?.isNegative">
                {{'Должен быть больше или равен 0'}}
            </mat-error>
            <mat-error *ngIf="numberField?.errors?.hasDigits">
                {{'Должен быть целым числом'}}
            </mat-error>
            <mat-error *ngIf="numberField?.errors?.alreadyAssign">
                {{'Номер уже выдан другому участнику'}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput
                    [(ngModel)]="participant.tag"
                    type="text"
                    name="tag"
                    [placeholder]="'Тег'"
                    maxlength="50"
                    #tagField="ngModel"
            >
                <mat-hint align="end">{{tagField?.value?.length || 0}} / 50</mat-hint>
                <mat-error *ngIf="tagField?.errors?.alreadyAssign">
                    {{'Тег уже выдан другому участнику'}}
                </mat-error>
        </mat-form-field>
        <div class="actions">            
            <button mat-dialog-close mat-raised-button>Отмена</button>
            <button mat-raised-button color="primary" type="submit">Сохранить</button>
        </div>
    </form>
</div>