mat-form-field {
    display: block;
}

.actions {
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5px;
}

button {
    margin-left: 20px;
    margin-top: 20px;
}