<form #groupForm="ngForm" (ngSubmit)="groupForm.valid && add(groupForm)">

        <mat-form-field>
          <input matInput
                [(ngModel)]="group.name"
                type="text"
                name="name"
                [placeholder]="'Название'"
                required
                maxlength="250"
                #nameInput="ngModel"
          >
            <mat-hint align="end">{{nameInput?.value?.length || 0}} / 250</mat-hint>
            <mat-error *ngIf="nameInput.touched && nameInput.errors?.required">
                {{'Обязательное поле'}}
            </mat-error>
        </mat-form-field>
        <mat-form-field>
                <mat-select placeholder="Пол" [(ngModel)]="group.gender"  name="gender" required #genderSelect="ngModel">
                <mat-option *ngFor="let gender of genders"
                            [value]="gender.value"
                >{{gender.viewValue}}</mat-option>
              </mat-select>
              <mat-error *ngIf="genderSelect.touched && genderSelect.errors?.required">
                {{'Обязательное поле'}}
              </mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput
                  [(ngModel)]="startDate"
                  name="start_date_time"
                  placeholder="Время старта"
                  required
                  #startInput="ngModel"
            >
            <mat-error *ngIf="startInput.touched && startInput?.errors?.format">{{'Формат: ДД.ММ.ГГГ чч:мм'}}</mat-error>
            <mat-error *ngIf="startInput.errors?.required">
                {{'Обязательное поле'}}
            </mat-error>
        </mat-form-field>
        <div class="actions">
            <button mat-dialog-close
            mat-raised-button
            >Отмена
          </button>
          <button
            mat-raised-button color="primary"
            type="submit"
            [disabled]="!groupForm.valid"
            >Добавить
          </button>
        </div>
    </form>